{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories de documents{% endblock %}

{% block body %}
    {% include 'components/defaultTopNavBar.html.twig' %}

    <div class="container">
        <div id="DocumentCategoryCard" class="">

        </div>
    </div>

{% endblock %}
