<div id="topNav" class=" h-16 bg-white w-full align-middle flex justify-end content-center shadow-lg">
    <div class="flex">
        <div class="px-6  pt-5 h-16">
            <p class="font-bold text-blue-300">Hello {{ app.user.firstname }}</p>
        </div>
        <div id="secondaryNavBtn" class="pt-5 h-16 pl-4 pr-4 focus:outline-none" >
            <button><i id="secondaryNavIcon" class="fas fa-chevron-down"></i></button>
        </div>
    </div>
</div>
<div id="secondaryNav" class="bg-white text-gray-700 text-sm  flex flex-col p-4  w-48 absolute top-16 right-0 rounded-b-lg shadow-lg hidden">
    <a class="hover:underline py-2" href="#">Mon profil</a>
    <a class="hover:underline py-2" href="{{ path('client_shop') }}">Espace client</a>
    <a class="hover:underline py-2" href="{{ path('app_logout') }}">Se déconnecter</a>
</div>