<div class="flex content-center bg-green-300 bg-opacity-95 text-gray-700 h-16 w-full  shadow-lg ">
    <div class="h-16  pt-5">
        <a class="px-4"><button><i class="fas fa-th"></i></button></a>
        <a class="px-4"><button><i class="fas fa-th-large"></i></button></a>
        <a class="px-4"><button><i class="fas fa-list"></i></button></a>
    </div>
    <div class="h-16  pt-5">
        <form>
            <div class="flex">
                <label>
                    <input class="rounded-l-lg bg-white px-4 ml-4 text-gray-600" name="filter" type="text">
                </label>
                <button  class="rounded-r-lg bg-white pr-4" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>



</div>